/* INNHOLDSFORTEGNELSE

    - Common values for all pages
    
    - Common NAVBAR

    - Screen responsiveness

    - Standardized segments

    - Individual page specifics
        - Index
        - Accessibility
        - Topical
        - Logo
        - Stairs
*/


/*Common values for all pages, headers and nav. Text-font, scroll, and removal of padding and margin.*/
body, header, nav {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Moderat","Avenir","Helvetica","Arial",sans-serif;
}




/* START Common Nav bar. (Common refers to common style, where stairs therefore would be "uncommon"). */
/*Container for our navigation in normal view (desktop)*/
.nav-container {
width: 100%;
height: 75px;
position: absolute;
}

/*Input element is hidden*/
input {
    display: none;
    opacity: 0;
}
 /*This makes sure that the menu is always on top, and fixed to the screen, whenever the user is scrolling.*/
 #menu-toggle-container {
     z-index: 50;
     top: 25px;
     left: 25px;
     position: fixed;
 }
 /*Applies the background image to the icon div and resizes*/
 .menu-toggle-icon {
     width: 36px;
     height: 28px;    
     background-size: cover;
     display: block;
     background-image: url(/./media/menu-icon-2.svg);
     /*Creator: Private member of the team*/
 }
 /*Whenever checked the list-container, appears on the screen on the left side.*/
#menu-toggle:checked ~ .list-container{
    left: 0px;
 }
 /*List definition within nav*/
.list-container {
    margin: 0;
    height: 30px;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    align-items: center;
    user-select: none;
    list-style-type: none;
    padding-right: 12%;
    
}
/*List elements within nav*/
.nav-container li {
    margin-left: 10px;
    margin-right: 10px;    
}
/*Selects all links inside nav*/
nav a {
    white-space: nowrap;
    color:white;
    font-size: 1.5em;
    text-decoration: none;
}
/*makes the links within the turn turn to the chosen colour*/
nav a:hover{
    color:#00FFEF;
}
/* END Common Nav bar */



/*START SCREEN RESPONSIVENESS*/
@media (max-width: 992px) { /*Phone or device with smaller screen than the usual*/
    /*Common nav bar. Re-structured to a box, which is pushed left out of view while button unchecked.*/
    .list-container {
        transition: linear 100ms;
        position: fixed;
        height: min-content;
        left: -500px;
        padding: 5px;
        padding-top: 75px;
        background-color: rgba(16, 16, 16, 0.5);
        width: min-content;
        align-items:start;
        color: gold;
        flex-direction: column;
        flex-wrap: wrap;        
    }
    /*Resizes images, but not stairs's images.*/
    img:not(.body-stairs img) {
        padding: 0px;
        margin: 0px;
        width: 50%;
        height: auto;
    }
    /*changes text-containers width, for easier readability on portrait phone screens.*/
    .text-child {
        width: 100% ;
    }
    /*Centers the menu and makes it fixed to the top of the screen and not page, whenever on a smaller screen*/
    .list-container-stairs {
        z-index: 50;
        transition: linear 100ms;
        position: fixed;
        height: min-content;
        transform:translateX(-50%);
        left: 50%;
        padding: 5px;
        margin: 0px;
        background-color: rgba(16, 16, 16, 0.5);
        width: max-content;
        align-items:start;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .list-container-stairs a{
        font-size: 5vw;
    }
    /*Changes the direction to a column, and makes it wider; easier phone readability*/
    .main-content-part-stairs{
        width: 90%;
        
    }
    .main-content-mainsection-stairs{
        flex-direction: column;
    }
    /*Additional to responsive design to smaller screens, where it expands a bit whenever hovered.*/ 
    .list-container li:hover {
        transform: scale(1.2);
        transition: linear 100ms;
    }
    .footer-container {
        flex-direction: column;
    }
    .footer-content {
        width: 100%;
    }
    .footer-container-stairs {
        flex-direction: column;
    }
    .footer-content-stairs {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }

}
@media (min-width: 992px) { /*Wide-screen*/
    /*Sizing and padding of images in accordance of their wanted position on the page.*/
    .left-image{

        min-height: 250px;
        max-height: 250px;
        padding: 20px;
        padding-left: 0px;
    }
    /*Sizing and padding of images in accordance of their wanted position on the page.*/
    .right-image{
  
        min-height: 250px;
        max-height: 250px;
        padding: 20px;
        padding-right: 0px;
    }
    /*Size of text-containers in wide screen*/
    .text-child {
       width: calc(100% - 300px);
    } 
    /*Hides the toggle-menu icon in wide screen*/
    #menu-toggle-container {
        display: none;
    }
    /*Hyperlink font style and size*/
    .nav-container-stairs a {
    font-size: 2em;
    -webkit-text-stroke: 0.05vw rgb(255, 254, 254);
    color: rgba(0, 0, 0, 0);
    }
    .main-content-part-stairs{
        width: 30%;
    }
    .intro-standard { 
        margin-left: 10vw;
        margin-right: 10vw;
    }
    /*Common footer size of each content-chunk*/
    .footer-content {
        width: 33.3%;
    }
    .footer-content-stairs {
        margin: auto;
    }
}
/*END SCREEN RESPONSIVENESS*/




/*START STANDARDIZED SEGMENTS*/

/*Transparent gray overlay on introductory text for each page (other than index and the stairs page).
 Overlays on top of page's "backdrop" (background-images).*/ 
.intro-standard { 
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 7%;
    padding-bottom: 20%;
    width: auto;
    height: 100%;
    color: white;
    font-size: 1.5em;
    line-height: 1.5em;
    background-color: rgba(16, 16, 16, 0.838); 
    text-shadow: 1px 1px 4px #000;   
}
/*Margin fix for the h1 element within the introductionary texts.*/ 
.intro-standard h1 {
    margin-top: 0;
}
/*Changes the colour of all h2 elements within the whole page.*/
h2 {
    color: #00FFEF;
}
/*Layout for each page's "main" content to ble placed within, after the introductionary part (not for the stairs page).*/ 
.text-standard {  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;  
    grid-row-start: 2;    
    padding-left: 15%; 
    padding-right: 15%; 
    background-color: rgb(16, 16, 16); 
    padding-top: 5%;
    padding-bottom: 5%;  
    color: white; 
    text-shadow: 1px 1px 4px #000;
}
/*Color of links in the content-part of the pages.*/
.text-standard a{
    text-decoration: none;
    color: #00FFEF;
}

/*Styling of the "common" footer found on all pages but the stairs page.*/
.footer-container {
    padding-top: 50px;
    margin: auto;
    height: 30%;
    color: white;
    background-color: #000000;
    display: flex;
    justify-content: center;
}

/*h3 styling for footer-content*/
.footer-content h3{
    font-size: 1.5em;
    margin-bottom: 15px;
    text-align: center;
    color: #00FFEF;
}
/*Layout and "text-overflow"*/
.footer-content p{
    width: 100%;
    word-wrap: break-word;
    text-align: center;
    margin: auto;
    padding-top: 7px;
    padding-bottom: 7px;
}
/*Selects all anchors within footer-content, but not those that have li as a container/parent*/
.footer-content a:not( li>a), .footer-content1-stairs a:not( p>a) {
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    display: block;
}
/*List Styling. Centered*/
.footer-content ul{
    text-align: center;
}
/*List styling. Padding*/
.footer-content-list{
    padding: 0;
}
/*Footer list "points" Color, shape and position.*/
.footer-content-list li{
    width: 30%;
    text-align: center;
    list-style-type: square;
    color: #00FFEF;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: auto;
    margin-right: auto;
}
/*Footer links color when not hovered over.*/
.footer-content a{
    text-decoration: none;
    color: white;
}
/*Footer links when hovered.*/
.footer-content a:hover{
    color: #00FFEF;
}
/*"Your company"-bar styling.*/
.footer-bottom-bar{
    background: rgb(15, 15, 15);
    text-align: center;
    padding: 10px 0;
}
/*"Your company"-bar's content coloring and position.*/
.footer-bottom-bar p{
    color: #00FFEF;
    margin: 0;
    font-size: 1em;
    padding: 7px;
}

/*END STANDARDIZED SEGMENTS*/




/* START Index */

/*Background image for the Index-page*/ 
.index-backdrop {
    background-image: url(/./media/oslomet-facade2-edited.webp);
    /*Photographer: Private*/
    background-size:cover;
    object-fit: fill;
    height: 100%;
}
/*Gray overlay to create a "filtered" effect on the background image.*/
.index-backdrop-overlay{
    width: 100%;
    height: 20%;
    background-color:rgba(16, 16, 16, 0.60);
}
/*Style for the main header on index*/
.index-backdrop h1{
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 25%;
    margin-top: 0;
    padding-top: 25%;
    font-size: 3.2em;
    color: white;
    text-shadow: 1px 1px 4px #000;
}
/*Class which together with the standard text-standard class, makes the "main" content on the index page
look good.*/
.index-text {
    padding-left: 25%;
    padding-right: 25%;
    font-size: 1.3em;
} 

/* END Index */





/* START Accessibility */

/*Background image behind the introductionary part of the page.*/ 
.accessibility-backdrop {
    background-size:cover;
    object-fit: fill;
    background-image: url(/./media/oslomet-entrance.webp); 
    /*Photographer: Private*/
}

/* END Accessability */





/* START Topical */

/*Background image behind the introductionary part of the page.*/
.topical-backdrop {
    background-size:cover;
    object-fit: fill;
    background-image: url(/./media/oslomet-train.webp);
    /*Photographer: Private*/
}
/*Styling for the "link-section" of the topical page*/
.topical-content-more-information{
    padding-bottom: 10%;
}
/*Styling for the "link-section" of the topical page*/
.topical-content-more-information li{
    list-style-type: square;
    color: #00FFEF;
    padding: 7px;
}
/*Color for links in link-section of topical*/
.topical-content-more-information a{
    text-decoration: none;
    color: #00FFEF;
}
/*Hover-effect for links in link-section of topical*/
.topical-content-more-information a:hover{
    color: white;
}

/* END Topical */





/* START Logo */

/*Background image behind the introductionary part of the page.*/
.logo-backdrop {
    background-size: cover;
    height: 20%;
    object-fit: fill;
    background-image: url(/./media/oslomet-front.jpg); 
    /*By uniform_oslo. Image copied from:
    https://uniform.no/prosjekter/oslomet-med-ny-brukervennlig-og-kraftig-profil/
    */
}

/* END logo */








/* START Stairs */

/*The whole background of stairs*/ 
.body-stairs{
    background: linear-gradient(to right,#590384, #669dd1 75%);
    display: inline;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*Creating a navigation bar for stairs. Displayed as a grid*/ 
.nav-container-stairs{
    display: grid;
    width: 100%;
    height: 75px;
    background: linear-gradient(to right,#4502679d, #5c8ebc 75%);
    grid-template-rows: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


/*changes the colour of the hyperlinks in the navigation bar, when the cursor hovers each hyperlink*/
.nav-container-stairs a:hover{
    animation-name: ShiftColor;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

/*Performing a pulsing effect that changes the colours of each paragraph in a loop when the cursor hovers each hyperlink*/
@keyframes ShiftColor {
    0%  {color: orange;}
    25%  {color: purple;}
    50%  {color: orange;}
    100%  {color: purple;}
  }

/*Creating the hyperlinks of the navigation bar on the stairs page*/
.list-container-stairs{
    display: flex;
}

/*Style and position of text/hyperlinks in navigation bar on the stairs page*/
.list-container-stairs li{
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}

/*Setup for the main of the stairs page*/ 
.main-stairs{
    display: flex;
    color: #ffffff;
    padding: 20px;
}

/*The main content box of stairs page(biggest box)*/
.main-content-stairs{
    border: 4px solid rgb(255, 255, 255);
    /*background-color: white;*/
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 20px;
}

/*Main title stairs*/ 
.main-title-stairs{
    font-size: 3.2em;
    text-align: center;
    text-shadow: 1px 1px 4px #000;
}

/*Displaying the main content box of of the stairs page as flex. Makes each sub-headings and paragraphs line up as a row*/
.main-content-mainsection-stairs{
    display: flex;
}

/*Creating a small box for each section*/
.main-content-part-stairs{
    display: grid;
    position: relative;
    border: 1px solid rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/*Position and style of each sub-headings(h2)*/
.main-content-part-stairs h2{
    font-size: 2.5em;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 8px #000;
}

/*Position of paragraphs for each sub-sections*/
.main-content-part-stairs p{
    line-height: 40px;
    padding: 10px;
}

/*Image style and size for each sub-sections*/
.main-content-image-stairs{
    width: 100%;
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size:cover;
    object-fit: fill;
}


/*Creating footer box, displayed as flex*/ 
.footer-container-stairs{
    display: flex;
    padding-top: 1px;
    width: 100%;
    color: white;
    background: linear-gradient(to right,#590384, #669dd1 75%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/*position headings in footer*/
.footer-container-stairs h3{
    text-align: center;
}

/*position paragraph in footer*/
.footer-container-stairs p{
    text-align: center; 
}

/*Style and position hyperlinks in footer*/
.footer-container-stairs a{
    text-align: center;
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
}

/*Changes the colour of hyperlinks when the cursor hovers the hyperlinks*/
.footer-container-stairs a:hover{
    color: rgb(194, 193, 193);

}

/*Creating small section boxes inside footer section*/
.footer-content-stairs{
    border: 1px solid white;
    width: 30%;
    word-break: break-all;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/*Creating bottom bar section*/
.footer-bottom-bar-stairs{
    background: linear-gradient(to top,#4502679d, #5c8ebc);;
    text-align: center;
    padding: 10px 0;
}
/*bottom bar's content coloring and position of the stairs page.*/
.footer-bottom-bar-stairs p{
    color: #ffffff;
    font-size: 1em;
    padding: 7px;
}

/* END Stairs */