body, nav {
    margin: 0;
    padding: 0;
    font-family: "Moderat","Avenir","Helvetica","Arial",sans-serif;
}
/* Index */

/* START Nav bar */
.nav-container {
width: 100%;
height: 75px;
background-color: red;
grid-template-rows: none;

}

.list-container {
    margin: 0;
    height: 75px;
    background-color: blue;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    align-items: center;
    user-select: none;
    list-style-type: none;
}
li {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
}

.dropdown-button:checked .list-container {
    background-color: red;

}
input {
    display: none;
    opacity: 0;
}
#menu-toggle-container {
    top: 25px;
    left: 25px;
    position: absolute;
    background-color: red;
}
.menu-toggle-icon {
    width: 36px;
    height: 28px;
    background-size: cover;
    display: block;
    background-image: url(../media/menu-icon.svg);
}

@media (min-width: 1250px) { /*Normal*/
    ul {
color:red;
    }
    #menu-toggle-container {
        display: none;
    }
    
}
@media (max-width: 1250px) { /*Phone or device with smaller screen than the usual*/
    .list-container {
        position: absolute;
        height: 200px;
        left: 0px;
        top: 75px;
        width: 200px;
        color: gold;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    
}

/* END Nav bar */


.content-container {
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    grid-template-rows: minmax(80vh, 90vh) auto;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;    
}

.Introduction-section, .indexIntro{    
    display: grid;
    justify-content: center;
    align-items: center;    
}


.indexIntro {
    grid-row-start: 1;
    background-image: url(../media/pexels_terracedfarm.jpg);
    object-fit: fill;
    scroll-snap-align: start;
}
.indexIntro h1{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    font-size: 50px;
    color: white;
    text-shadow: 1px 1px 4px #000;
}

.Introduction-section{
    background-color: #000000ef;
    color: white;
    text-shadow: 1px 1px 4px #000;
    font-size: 20px;
    scroll-snap-align: start;
}

.Introduction-section h2{
    position: center;
    margin-left: 300px;
    margin-top: 250px
}

.Introduction-section p{
    position: center;
    margin-left: 300px;
    margin-bottom: 400px;
    width: 50%
    
}

/* Accessability */
.nav-container-accessibility{
    padding-top: 1px;
    width: 100%;
    height: 75px;
    background-color: #F71735;
}

.footer-container-accessibility{
    padding-top: 1px;
    width: 100%;
    height: 150px;
    color: white;
    background-color: #000000;
}

/* Topical */
.nav-container-topical{
    padding-top: 1px;
    width: 100%;
    height: 75px;
    background-color: #FFD500;
}

.footer-container-topical{
    padding-top: 1px;
    width: 100%;
    height: 150px;
    color: white;
    background-color: #000000;
}

/* Page 1 */
.nav-container-page1{
    padding-top: 1px;
    width: 100%;
    height: 75px;
    background-color: #00A7A2;
}

.footer-container-page1{
    padding-top: 1px;
    width: 100%;
    height: 150px;
    color: white;
    background-color: #000000;
}

/* Page 2 */
.nav-container-page2{
    padding-top: 1px;
    width: 100%;
    height: 75px;
    background: radial-gradient(#186E5A 12%, #176942 27%, #184A5A);
}

.footer-container-page2{
    padding-top: 1px;
    width: 100%;
    height: 150px;
    color: white;
    background-color: #000000;
}



